@model CarsPlatform.Web.ViewModels.Cars.CarsListViewModel

@{
    this.ViewData["Title"] = "All cars - " + @Model.CarsCount;
}

<h1 class="text-center text-white">@this.ViewData["Title"]</h1>
<div class="col-lg-6 col-md-8 mt-2">
    <input class="form-control" name="Search" placeholder="Search by model.." style="margin-left:260px">
</div>
<hr style="background-color:aliceblue" />
<div class="row">
    @foreach (var car in this.Model.Cars)
    {

        <div class="media col-md-4">
            @if (car.ImageUrl == null)
            {
                <img src="~/images/default-car.png" width="200" class="mr-3 img-responsive" />
            }
            else
            {
                <img src="@car.ImageUrl" width="200" class="mr-3 img-responsive">
            }
            <div class="media-body">
                <h5> <a class="text-warning" asp-action="SingleCar" asp-route-id="@car.Id">@car.Model</a></h5>
                <p class="text-white">@car.Prize BGN.</p>
                <p class="text-white">@car.Miles miles.</p>
                <p class="text-white">@car.LocationTown</p>
            </div>
        </div>
    }
</div>
<hr style="background-color:aliceblue" />
<partial name="_PagingPartial" model="@Model" />