@model CarsPlatform.Web.ViewModels.Cars.CarsListViewModel

@{
    this.ViewData["Title"] = $"Result for " + @Model.SearchString + " - " + @Model.CarsCount;
}

<h1 class="text-center text-white">@this.ViewData["Title"]</h1>
<form method="get">   
</form>
<hr style="background-color:aliceblue" />
<div class="row" style="background-color:black;">
    @foreach (var car in this.Model.Cars)
    {

        <div class="media col-md-4" style="margin-top:10px">
            @if (car.ImageUrl == "/images/cars/.")
            {
                <img src="~/images/default-car.jpg" width="200" class="mr-3 img-responsive" />
            }
            else
            {
                <img src="@car.ImageUrl" width="200" class="mr-3 img-responsive">
            }
            <div class="media-body">
                <h5> <a class="text-warning" asp-action="SingleCar" asp-route-id="@car.Id">@car.Model</a></h5>
                <p class="text-white">@car.Prize BGN.</p>
                <p class="text-white">@car.Miles miles.</p>
                <p class="text-white">@car.LocationTown</p>
            </div>
        </div>
    }
</div>
<br />
    <a class="btn btn-warning col-md-12" asp-area="" asp-controller="Cars" asp-action="All">Back to list</a>
<hr style="background-color:aliceblue" />
<partial name="_PagingPartialForResult" model="@Model" />